{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="{% static 'admin/js/jquery-3.7.1.min.js' %}"></script>
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <aside class="actions">
          <a class="btn btn-secondary" href="{% url 'gallery:post_edit' pk=imagepost.pk %}">
            {% include './icons/pencil-fill.svg' %} Edit post
          </a>
        </aside>
        <br>
        <aside class="more-actions">
          <a class="btn btn-secondary" href="{% url 'gallery:delete' imagepost.pk %}">
            {% include './icons/trash.svg' %} Delete
          </a>
        </aside>
          <h1><a href="{% url 'gallery:index'%}">Gallery</a></h1>
      </div>
  </header>
    <div>
        {% if imagepost.image %}
        <a target="_blank" href="{{ imagepost.image.url }}">
            <img src="{{ imagepost.image.url }}" class="" width="700px">
        </a>
        {% endif %}
    </div>
    <br>
    <p> {{ imagepost.description }} </p>
    <br>
    <p>   
      Date modified: {{ imagepost.modified_date }}
    </p>
    <p>   
      Date created: {{ imagepost.created_date }}
    </p>
    <p> Tags:
        {% for tag in imagepost.tags.all %}
            <a target="_self" href="{% url 'gallery:index' %}?query={{ tag }}">  
                {{tag}},
            </a>
        {% endfor %}
    </p>


    <br>

    <div class="search">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>
