{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1><a target="_self" href="{% url 'gallery:index'%}">Gallery</a></h1>
    <div>
        {% if imagepost.image %}
        <a target="_blank" href="{{ imagepost.image.url }}">
            <img src="{{ imagepost.image.url }}" class="" width="700px">
        </a>
        {% endif %}
    </div>
    <p> {{ imagepost.description }} </p>
    <p>
        {% for tag in imagepost.tags.all %}
            <a target="_self" href="{% url 'gallery:filter_index' tag %}">  
                {{tag}}
            </a>
        {% endfor %}
    </p>
    <p>   
      Date published: {{ imagepost.pub_date }}
    </p>
  </body>
</html>
