{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danbooru Gallery</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
  </head>
  <body>
    <h1>Gallery</h1>
    <div class="gallery">
    {% for picture in latest_image_list %}
            <a target="_blank" href="{{ picture.image.url }}">
                <img src="{{ picture.image.url }}" class="rules">
            </a>
    {% endfor %}
    </div>
  </body>
</html>