{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
    <script type="text/javascript" src="{% static 'admin/js/jquery-3.7.1.min.js' %}"></script>
  </head>
  <body>
    <header class="page-header">
      <div class="container">
          <a href="{% url 'gallery:post_new' %}" class="top-menu">
              {% include './icons/file-earmark-plus.svg' %}
              New post
          </a>
          <p> </p>
            <a href="{% url 'gallery:register' %}" class="top-menu">
              Register
            </a>
          <h1><a href="{% url 'gallery:index'%}">Gallery</a></h1>
      </div>
  </header>


    <div class="gallery">
      {% for picture in page_obj %}
        {% if picture.image %}
              <a target="_self" href="{% url 'gallery:detail' picture.id %}">
                  <img src="{{ picture.image.url }}" class="rules">
              </a>
        {% endif %}
      {% endfor %}
    </div>


    <p>
      Tags: 
      {% for tag in tags %}
      <a target="_self" href="{% url 'gallery:index' %}?query={{ tag }}">  
        {{tag}}, 
      </a>
      {% endfor %}
    </p>
  
    <br>

    <div class="search">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit"/>
      </form>
    </div>

    <br>
    <br>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>

  </body>
</html>