{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
  </head>
  <body>
    <h1><a target="_self" href="{% url 'gallery:index'%}">Gallery</a></h1>
    <div class="gallery">
    {% for picture in latest_image_list %}
            <a target="_self" href="{% url 'gallery:detail' picture.id %}">
                <img src="{{ picture.image.url }}" class="rules">
            </a>
    {% endfor %}
    </div>
    {% for tag in tags %}
    <!-- FIXME v -->
     <!-- code used multiple times v -->
    <a target="_self" href="{% url 'gallery:filter_index' tag %}">  
      <p> {{tag}} </p>
    </a>
    {% endfor %}
  </body>
</html>