{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
  </head>
  <body>
    <header>
        <div class="container">
            <h1><a href="{% url 'gallery:index'%}">Gallery</a></h1>
        </div>
    </header>
    <h1>Login as a Returning User</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
       <button>Submit</button>
    </form>
    <p></p>
    <a href="{% url 'gallery:register_user'%}">Register as a new user</a>
  </body>
</html>