.gallery {
    display: block;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    column-width: 240px;
    column-gap: 1%;            
    padding: 5px; 
    row-gap: 10px;  /* Vertical gap between rows */
    justify-items: center;  /* Center images within their cells*/ 
  }
  
  .rules {
    width: 100%;  /* Make sure images fit their container */
    max-width: 300px;  /* Optional: Set a max width for images */
    height: auto;  /* Maintain aspect ratio */
  }